on:
  push:
  pull_request:

jobs:
  ci:
    name: ${{ matrix.os }} for ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        target:
          - aarch64-unknown-linux-gnu
          - x86_64-unknown-linux-gnu
          - x86_64-pc-windows-gnu
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
          - os: ubuntu-latest
            target: x86_64-pc-windows-gnu

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
      - name: Build custom Docker image
        if: matrix.os == 'ubuntu-latest' && (matrix.target != 'x86_64-pc-windows-gnu')
        run: docker build -t prog-vb/${{ matrix.target }} ci/docker/${{ matrix.target }}
      - name: Debug build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --target=${{ matrix.target }}
          use-cross: true
      - name: Release build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --target=${{ matrix.target }} --release
          use-cross: true
      - name: Debug test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --target=${{ matrix.target }}
          use-cross: true
      - name: Release test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --target=${{ matrix.target }} --release
          use-cross: true
      - name: Debug run
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: --target=${{ matrix.target }} -- -v
          use-cross: true
      - name: Release run
        uses: actions-rs/cargo@v1
        with:
          command: run
          args: --target=${{ matrix.target }} --release -- -v
          use-cross: true
      - name: "Create release"
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo "Release placeholder"
