on:
  push:
  pull_request:

jobs:
  ci:
    name: ${{ matrix.os }} for ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
      - name: Build custom Docker image
        if: matrix.os == 'ubuntu-latest'
        run: docker build -t prog-vb/${{ matrix.target }} ci/docker/${{ matrix.target }}
      - name: Debug build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --target=${{ matrix.target }}
          use-cross: true
      - name: "Create release"
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo "Release placeholder"
